html{
	height: 100%;
}

body{
	color:  white;
	background-image: radial-gradient(#281026, black);
}

.vignette {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.header-btn button{
	position: absolute;
	width: 70px;
	height: 29px;
	left: 103px;
	top: 79px;
	border: none;
	background-color: inherit;
	cursor: pointer;
	display: inline-block;
	color: white;
}

.fragrance-txt{
	position: absolute;
	width: 492px;
	height: 297px;
	left: 138px;
	top: 244px;
	font-family: arial;
	font-style: normal;
	font-weight: 300;
	font-size: 70px;
	line-height: 85px;
	color: #C8C8C8;
}

.tool-txt{
	position: absolute;
	left: 23.28%;
	right: 28.78%;
	top: 86.61%;
	bottom: -11.12%;

	font-family: arial;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;

	color: rgba(255, 255, 255, 0.8);

	opacity: 0.7;
}

.back_btn{
	margin-left: 3%;
	margin-top: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 25px;
	text-decoration: none;
	color: white;
	transition-duration: 0.5s;
}

.back_btn:active{
	color: 424242;
	transition-duration: 0.5s;
}

.interative_box{
	border-radius: 30px;
	background-color: black;
	width: 50%;
	height: 550px;
	margin-left: 25%;
}

.question_txt{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-top: 50px;
	font-size: 30px;
	padding-bottom: 50px;
}

.btn_box{
	margin-left: 25%;
}

.btn_box2{
	margin-left: 15%;
	margin-top: 5%;
}

.btn_box3{
	margin-left: 16%;
}

.btn_box table{
	margin: auto;
}

/*Question1*/
.gender_btn{
	height: 250px;
	width: 150px;
	background-color: #424242;
	border-radius: 30px;
	border: none;
	transition-duration: 1s;
	align-items: center;
	cursor: pointer;
	background-size:cover
}

.gender_btn:hover{
	background-color: rgb(250, 250, 250);
	transition-duration: 1s;
	background-size:cover
}

.gender_btn_img{
	height: 220px;
	width: 120px;
	align-items: center;
	transition-duration: 1s;
	object-fit: cover;
	border-radius: 30px;
	background-size:cover
}

.female_btn{
	float: left;
}

.male_btn{
	margin-left: 40%;
}

/*Question2*/
.ocasion_btn_img{
	width: 120px;
	height: 100px;
	opacity: 0.3;
	display: block;
	align-items: center;
	transition-duration: 1s;
	object-fit: cover;
	border-radius: 30px;
	background-size:cover;
	backface-visibility: hidden;
}

.ocasion_btn, .category_btn, .intensity_btn{
	text-align: center;
	border-radius: 30px;
	border: none;
	cursor: pointer;
	background-size:cover;
	opacity: 1;
	top: 43%;
	left: 43%;
	position: absolute;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.category_btn_img, .intensity_btn_img{
	border-radius: 50px;
	background-color: grey;
	width: 120px;
	height: 100px;
	display: block;
	align-items: center;
	transition-duration: 1s;
	object-fit: cover;
	border-radius: 30px;
	background-size:cover;
	backface-visibility: hidden;
}

.category_btn{
	border-radius: 100px;
	background-color: grey;
	transition-duration: 0.5s;
}


.container_btn{
	width: 140px;
	height: 100px;
	transition-duration: 1s;
	position: relative;
}

.container_btn:hover{
	cursor: pointer;
	transition-duration: 1s;
	opacity: 0.3;
}

.container_btn:hover .ocasion_btn_img{
	opacity: 0.1;
}

.container_btn:hover .descripton_text{
	opacity: 1;
}

.descripton_text{
	font-size: 15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.result_txt{
	text-align: center;
	text-transform: uppercase;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-top: 10px;
	font-size: 30px;
}

.result_btn_img{
	height: 400px;
	width: 300px;
	align-items: center;
	transition-duration: 1s;
	object-fit: cover;
	background-size:cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.result_box{
	background-color: black;
}

.table_result{
	padding: 20px;
	display: block;
	margin-left: 15%;
  	margin-right: auto;
}

.result_container_btn{
	padding: 10px;
	float: left;
}

.result_text